openapi: 3.1.0
info:
  title: SMCR Editorial GPT API
  version: 1.0.0
  description: API de lectura y escritura controlada. Ningún endpoint llama a modelos.
servers:
  - url: https://SaludMentalCostaRica.com/api/gpt/editorial/v1
security:
  - EditorialBearerAuth: []
paths:
  /articles:
    get:
      operationId: listArticles
      security: [{ EditorialBearerAuth: [editorial:read] }]
      parameters:
        - { name: status, in: query, schema: { type: string } }
        - { name: q, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 25 } }
      responses:
        '200': { description: Artículos, content: { application/json: { schema: { $ref: '#/components/schemas/ArticleList' } } } }
  /articles/{articleId}:
    get:
      operationId: getArticle
      security: [{ EditorialBearerAuth: [editorial:read] }]
      parameters: [{ $ref: '#/components/parameters/ArticleId' }]
      responses:
        '200': { description: Artículo, content: { application/json: { schema: { $ref: '#/components/schemas/Article' } } } }
  /articles/{articleId}/carousels:
    post:
      operationId: createCarouselDraft
      security: [{ EditorialBearerAuth: [editorial:write] }]
      parameters:
        - { $ref: '#/components/parameters/ArticleId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/CreateCarouselRequest' } } }
      responses:
        '201': { description: Borrador creado, content: { application/json: { schema: { $ref: '#/components/schemas/MutationResult' } } } }
  /carousels/{carouselId}:
    get:
      operationId: getCarousel
      security: [{ EditorialBearerAuth: [editorial:read] }]
      parameters: [{ $ref: '#/components/parameters/CarouselId' }]
      responses:
        '200': { description: Carrusel, content: { application/json: { schema: { $ref: '#/components/schemas/Carousel' } } } }
  /carousels/{carouselId}/versions:
    get:
      operationId: listVersions
      security: [{ EditorialBearerAuth: [editorial:read] }]
      parameters: [{ $ref: '#/components/parameters/CarouselId' }]
      responses: { '200': { description: Versiones } }
    post:
      operationId: createVersion
      security: [{ EditorialBearerAuth: [editorial:write] }]
      parameters:
        - { $ref: '#/components/parameters/CarouselId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
        - { $ref: '#/components/parameters/ConfirmationToken' }
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/CreateVersionRequest' } } }
      responses: { '201': { description: Nueva versión, content: { application/json: { schema: { $ref: '#/components/schemas/MutationResult' } } } } }
  /carousels/{carouselId}/slides/{slideId}:
    patch:
      operationId: updateSlide
      security: [{ EditorialBearerAuth: [editorial:write] }]
      parameters:
        - { $ref: '#/components/parameters/CarouselId' }
        - { $ref: '#/components/parameters/SlideId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
        - { $ref: '#/components/parameters/ConfirmationToken' }
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/SlidePatch' } } }
      responses: { '200': { description: Nueva versión, content: { application/json: { schema: { $ref: '#/components/schemas/MutationResult' } } } } }
  /carousels/{carouselId}/slides/{slideId}/approve:
    post:
      operationId: approveSlide
      security: [{ EditorialBearerAuth: [editorial:approve] }]
      parameters:
        - { $ref: '#/components/parameters/CarouselId' }
        - { $ref: '#/components/parameters/SlideId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
        - { $ref: '#/components/parameters/ConfirmationToken' }
      responses: { '200': { description: Estado registrado, content: { application/json: { schema: { $ref: '#/components/schemas/MutationResult' } } } } }
  /assets/upload-url:
    post:
      operationId: createAssetUploadUrl
      security: [{ EditorialBearerAuth: [editorial:assets] }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/UploadUrlRequest' } } }
      responses: { '201': { description: URL firmada, content: { application/json: { schema: { $ref: '#/components/schemas/UploadUrlResponse' } } } } }
  /carousels/{carouselId}/slides/{slideId}/assets:
    post:
      operationId: attachAsset
      security: [{ EditorialBearerAuth: [editorial:write, editorial:assets] }]
      parameters:
        - { $ref: '#/components/parameters/CarouselId' }
        - { $ref: '#/components/parameters/SlideId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
        - { $ref: '#/components/parameters/ConfirmationToken' }
      responses: { '200': { description: Asset asociado, content: { application/json: { schema: { $ref: '#/components/schemas/MutationResult' } } } } }
components:
  securitySchemes:
    EditorialBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque-token
  parameters:
    ArticleId: { name: articleId, in: path, required: true, schema: { type: string } }
    CarouselId: { name: carouselId, in: path, required: true, schema: { type: string } }
    SlideId: { name: slideId, in: path, required: true, schema: { type: string } }
    IdempotencyKey: { name: Idempotency-Key, in: header, required: true, schema: { type: string, minLength: 16 } }
    ConfirmationToken: { name: X-Editorial-Confirmation, in: header, required: false, schema: { type: string } }
  schemas:
    Article:
      type: object
      required: [id, title, content, status]
      properties:
        id: { type: string }
        title: { type: string }
        slug: { type: string }
        content: { type: string }
        status: { type: string, enum: [DRAFT, PUBLISHED, ARCHIVED] }
    ArticleList:
      type: object
      required: [items]
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/Article' } }
        nextCursor: { type: [string, 'null'] }
    Carousel:
      type: object
      required: [id, title, status, slides]
      properties:
        id: { type: string }
        title: { type: string }
        status: { type: string, enum: [DRAFT, GENERATED, APPROVED, PUBLISHED] }
        activeVersionId: { type: [string, 'null'] }
        slides: { type: array, items: { type: object } }
    CreateCarouselRequest:
      type: object
      required: [title]
      properties:
        title: { type: string }
        slug: { type: string }
        spec: { type: object }
    CreateVersionRequest:
      type: object
      required: [baseVersionId, spec]
      properties:
        baseVersionId: { type: string }
        spec: { type: object }
        comment: { type: string }
    SlidePatch:
      type: object
      required: [baseVersionId, changes]
      properties:
        baseVersionId: { type: string }
        changes: { type: object, additionalProperties: true }
        comment: { type: string }
    UploadUrlRequest:
      type: object
      required: [carouselId, slideId, filename, mimeType]
      properties:
        carouselId: { type: string }
        slideId: { type: string }
        filename: { type: string }
        mimeType: { type: string, enum: [image/png, image/jpeg, image/webp] }
        sha256: { type: string }
    UploadUrlResponse:
      type: object
      required: [uploadId, storagePath, uploadUrl]
      properties:
        uploadId: { type: string }
        storagePath: { type: string }
        uploadUrl: { type: string, format: uri }
        expiresAt: { type: string, format: date-time }
    MutationResult:
      type: object
      required: [ok, carouselId, versionId]
      properties:
        ok: { type: boolean }
        carouselId: { type: string }
        versionId: { type: string }
        confirmationRequired: { type: boolean }
        confirmationId: { type: [string, 'null'] }
